<div class="login__container">
  <div class="login__logo">
      <h3>QuickChat</h3>
  </div>
  <div class="login__card">
      <div class="card">
          <div class="card__title">
              <h3>Registration</h3>
              <a href="{{URL}}/">Alrady have account. Login</a>
          </div>
          <div class="card__form">
              <form action="" method="POST">
                  <div class="form__group">
                      <div class="form__group__12">
                        <div class="label">
                            <label for="">Nome completo</label>
                        </div>
                        <div class="form__group__12">
                            <input type="text" name="text_name" placeholder="Enter full name" autofocus required>
                        </div>
                      </div>
                  </div>
                  <div class="form__group">
                    <div class="form__group__12">
                      <div class="label">
                        <label for="">Email</label>
                      </div>
                      <div class="form__group__12">
                          <input type="email" name="text_email" placeholder="Enter Email" required>
                      </div>
                    </div>
                  </div>
                  <div class="form__group">
                    <div class="form__group__6">
                      <div class="label">
                        <label for="">Numero de telefone</label>
                      </div>
                      <div class="form__group__input">
                          <input type="number" name="text_mobile" placeholder="Mobile number" required>
                      </div>
                    </div>
                    <div class="form__group__6">
                      <div class="label">
                        <label for="">Aniversario</label>
                      </div>
                      <div class="form__group__input">
                          <input type="date" name="text_date" placeholder="Enter Birth" required>
                      </div>
                    </div>
                  </div>
                  <div class="form__group">
                    <div class="form__group__12">
                      <div class="label">
                        <label for="">Genero</label>
                      </div>
                    </div>
                  </div>
                  <div class="form__group">
                    <div class="form__group__6">
                      <div class="form__group__radio">
                        <div class="radio__input">
                          <input type="radio" name="select" id="option-1" value="Masculino" checked>
                        </div>
                        <div class="radio__desc">
                          <div class="label">
                            <label for="">Masculino</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__group__6">
                      <div class="form__group__radio">
                        <div class="radio__input">
                          <input type="radio" name="select" id="option-2" value="Feminino">
                        </div>
                        <div class="radio__desc">
                          <div class="label">
                            <label for="">Feminino</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form__group">
                    <div class="form__group__12">
                      <div class="label">
                          <label for="">Utilizador</label>
                      </div>
                      <div class="form__group__12">
                          <input type="text" name="text_utilizador" placeholder="Enter username" autofocus required>
                      </div>
                    </div>
                </div>
                <div class="form__group">
                  <div class="form__group__12">
                    <div class="label">
                      <label for="">Senha</label>
                    </div>
                    <div class="form__group__12">
                        <input type="password" name="text_password" placeholder="Enter password" required>
                    </div>
                  </div>
                </div>
                  <div class="form__group__button">
                      <button class="btn" type="submit">Cadastrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="login__footer">
      <div class="footer__policy">
          <p>This site is protected by <a href="#">Privacy Policy</a></p>
      </div>
      <div class="footer__links">
          <a href="#">Terms and Conditions</a>
          <a href="#">Privacy Policy</a>
          <a href="#">CA Privacy Notice</a>
      </div>
  </div>
</div>