<div class="login__container">
    <div class="login__logo">
        <h3>QuickChat</h3>
    </div>
    <div class="login__card">
        <div class="card">
            <div class="card__title">
                <h3>Login</h3>
                <a href="#">Don't have an account?</a>
            </div>
            <div class="card__form">
                <form action="" method="POST">
                    <div class="form__group">
                        <div class="label">
                            <label for="">Email Adress</label>
                        </div>
                        <div class="form__group__12">
                            <input type="text" name="text_utilizador" placeholder="Enter email address" autofocus>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="label">
                            <label for="">Password</label>
                        </div>
                        <div class="form__group__12">
                            <input type="password" name="text_password" placeholder="Enter Password">
                        </div>
                    </div>
                    <div class="form__save">
                        <div class="keep__password">
                            <input type="checkbox">
                            <p>Keep me sign in</p>
                        </div>
                        <div class="forgot__password">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="form__group__button">
                        <button class="btn" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="login__footer">
        <div class="footer__policy">
            <p>This site is protected by <a href="#">Privacy Policy</a></p>
        </div>
        <div class="footer__links">
            <a href="#">Terms and Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">CA Privacy Notice</a>
        </div>
    </div>
</div>

{{status}}